{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true,
      "classes": true,
      "modules": true,
      "defaultParams": true
    }
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "semi": "off",
    "no-console": "off",
    "consistent-return": "off",
    "default-case": "error",
    "eqeqeq": "warn",
    "no-caller": "warn",
    "no-multi-spaces": "warn",
    "no-multi-str": "error",
    "no-self-assign": "error",
    "no-useless-return": "error",
    "yoda": "error",
    "no-use-before-define": "error",
    "array-bracket-spacing": "error",
    "block-spacing": ["error", "always"],
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "computed-property-spacing": ["error", "never"],
    "jsx-quotes": ["error", "prefer-single"],
    "implicit-arrow-linebreak": ["error", "beside"],
    "keyword-spacing": ["error", { "before": true }],
    "lines-between-class-members": ["warn", "always"],
    "max-len": "warn",
    "max-params": ["error", { "max": 5 }],
    "new-parens": "error",
    "no-tabs": "error",
    "no-whitespace-before-property": "warn",
    "object-curly-newline": "warn",
    "object-curly-spacing": ["warn", "always"],
    "space-in-parens": ["error", "never"],
    "object-property-newline": "off",
    "one-var": ["error", { "var": "always", "let": "never", "const": "never" }],
    "one-var-declaration-per-line": ["error", "initializations"],
    "operator-assignment": "warn",
    "operator-linebreak": ["warn", "after"],
    "quotes": ["warn", "single"],
    "semi-spacing": ["error", { "before": false }],
    "space-infix-ops": "warn",
    "arrow-parens": ["error", "always"],
    "no-duplicate-imports": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "warn",
    "no-var": "warn",
    "no-unused-vars": ["warn", { "args": "none" }],
    "react/prop-types": "off",
    "react/jsx-equals-spacing": "warn",
    "react/jsx-closing-bracket-location": ["warn", "after-props"],
    "react/no-unknown-property": "warn",
    "react/prefer-es6-class": ["error", "always"],
    "react/self-closing-comp": ["error", { "component": true, "html": true }],
    "react/require-render-return": "error",
    "react/jsx-first-prop-new-line": ["warn", "never"],
    "react/jsx-key": "error",
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-props-no-multi-spaces": "warn",
    "react/jsx-tag-spacing": ["warn", { "beforeSelfClosing": "always" }],
    "react/no-find-dom-node": "off"
  }
}
