$black: rgb(34, 34, 34);
$black3: rgba(0, 0, 0, 0.03);
$black25: rgba(0, 0, 0, 0.25);
$black50: rgba(0, 0, 0, 0.5);
$black90: rgba(0, 0, 0, 0.9);
$white: #fff;
$bg-color: #f1f1f1;

$grey-light: #d8d8d8;
$blue: rgb(24, 144, 255);
$blue-light: rgb(230, 247, 255);
$green: rgb(73, 119, 73);
$red: rgb(199, 89, 67);
$red-light: rgba(255, 64, 85, 0.03);
