$black: rgb(34, 34, 34);
$black3: rgba(0, 0, 0, 0.03);
$black50: rgba(0, 0, 0, 0.5);
$black90: rgba(0, 0, 0, 0.9);
$white: #fff;

$grey-light: #d8d8d8;
$blue: rgb(24, 144, 255);
$blue-light: rgb(230, 247, 255);
$red: rgb(255, 77, 79);
